<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Turismo Argentina</title>
    </head>
    <body>
        <section id="sitios" class="seccion" th:fragment="seccion-lugares">
            <h1>Sitios turísticos</h1>
            <p>Agregar, editar o eliminar sitios turísticos de la página principal.</p>

            <table>
                <thead>
                <th>#</th>
                <th>Nombre</th>
                <th></th>
                </thead>
                <tbody>
                    <tr th:each="lugar : ${lugares}">
                        <td id="tabledata__1">[[${lugar.idLugar}]]</td>
                        <td id="tabledata__2">[[${lugar.nombre}]]</td>
                        <td id="tabledata__3" class="flex">
                            <a th:href="@{/mostrar-lugar/} + ${lugar.idLugar}"
                               class="btn btn__ver">
                                <i class="fas fa-eye"></i>
                            </a>

                            <a th:href="@{/panel/editar-lugar/} + ${lugar.idLugar}"
                               class="btn btn__editar">
                                <i class="fas fa-edit"></i>
                            </a>
                            
                            <a th:href="@{/panel/borrar-lugar/} + ${lugar.idLugar}"
                               class="btn btn__borrar">
                                <i class="fas fa-trash"></i>
                            </a>

                        </td>
                    </tr>
                </tbody>
            </table>
            <a th:href="@{/panel/agregar-lugar}" class="btn__agregar">
                Agregar sitio turístico
            </a>
        </section>
    </body>
</html>

