<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Turismo Argentina</title>
    </head>
    <body>
        <section id="inicio" th:fragment="seccion-inicio">
            <h1>Inicio</h1>
            <p>Datos de interes.</p>

            <div id="caja__cards">
                <!--Cant. usuarios registrados-->
                <div id="cantidad__usuarios" class="contenedor__datos">
                    <h3>Cantidad total de usuarios registrados:</h3>
                    <p>[[${totalUsuarios}]]</p>
                    <p class="aclaracion">Cantidad de usuarios registrados en la base de datos (incluye al administrador).</p>
                </div>

                <!--Cant. sitios turísticos-->
                <div id="cantidad__lugares" class="contenedor__datos">
                    <h3>Cantidad total de sitios turísticos registrados:</h3>
                    <p>[[${totalLugares}]]</p>
                    <p class="aclaracion">Cantidad de sitios turísticos registrados en la base de datos.</p>
                </div>

                <!--Cant. actividades-->
                <div id="cantidad__actividades" class="contenedor__datos">
                    <h3>Cantidad total de actividades registradas:</h3>
                    <p>[[${totalActividades}]]</p>
                    <p class="aclaracion">Cantidad de actividades turísticas registradas en la base de datos.</p>
                </div>
            </div>

            <h2>Cantidad de compras realizadas este mes</h2>
            <p>Total: [[${totalCompras}]]</p>
            <table th:if="${totalCompras}!=0">
                <thead>
                <th>#</th>
                <th>Usuario</th>
                <th>Detalles</th>
                <th>Fecha</th>
                </thead>
                <tbody>
                    <tr th:each="compra : ${compras}">
                        <td>[[${compra.idAuditoria}]]</td>
                        <td>[[${compra.usuario}]]</td>
                        <td>[[${compra.accion}]]</td>
                        <td>[[${compra.fecha}]]</td>
                    </tr>
                </tbody>
            </table>
            
            <h2>Cantidad de reembolsos realizados este mes</h2>
            <p>Total: [[${totalReembolsos}]]</p>
            <table th:if="${totalReembolsos}!=0">
                <thead>
                <th>#</th>
                <th>Usuario</th>
                <th>Detalles</th>
                <th>Fecha</th>
                </thead>
                <tbody>
                    <tr th:each="reembolso : ${reembolsos}">
                        <td>[[${reembolso.idAuditoria}]]</td>
                        <td>[[${reembolso.usuario}]]</td>
                        <td>[[${reembolso.accion}]]</td>
                        <td>[[${reembolso.fecha}]]</td>
                    </tr>
                </tbody>
            </table>
            
            <h2>Cupones habilitados</h2>
            <p>Cupones disponibles este mes.</p>
            <table th:if="${not #lists.isEmpty(cupones)}">
                <thead>
                <th>Nombre</th>
                <th>Descuento</th>
                <th>Fecha de creación</th>
                </thead>
                <tbody>
                    <tr th:each="cupon : ${cupones}">
                        <td>[[${cupon.nombre}]]</td>
                        <td>[[${cupon.descuento}]]%</td>
                        <td>[[${cupon.fecha}]]</td>
                    </tr>
                </tbody>
            </table>
            <p th:if="${#lists.isEmpty(cupones)}">No hay cupones habilitados este mes.</p>
            <a th:href="@{/panel/agregar-cupon}" class="btn__agregar">
                Agregar cupon
            </a>
        </section>
    </body>
</html>

