<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Carrito | Turismo Argentina</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
        <link rel="stylesheet" type="text/css" href="/estilos/estilos.css">
        <link rel="icon" type="/image/ico" href="/icons/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Marcellus&display=swap" rel="stylesheet">
    </head>
    <body>
        <header th:replace="layout/plantilla-actividades :: header"></header>

        <main id="carrito__main">
            <section th:if="${not #lists.isEmpty(lugaresCarrito)}">
                <h2>Lugares/sitios turísticos en el carrito</h2>
                <div class="gridbox">
                    <div class="caja__articulo" th:each="lugar : ${lugaresCarrito}">
                        <img th:src="${lugar.portada}">
                        <p>[[${lugar.nombre}]]</p>
                        <p>ARS$[[${lugar.precio}]]</p>
                        <a th:href="@{/carrito/borrar-lugar/} + ${lugar.idLugar}" class="btn__actividades">
                            <i class="fas fa-times"></i> Quitar del carrito
                        </a>
                    </div>
                    <br>
                </div>  
            </section>

            <section th:if="${not #lists.isEmpty(actividadesCarrito)}">
                <h2>Actividades turísticas en el carrito</h2>
                <div class="gridbox">
                    <div class="caja__articulo" th:each="actividad : ${actividadesCarrito}">
                        <img th:src="${actividad.imagen}">
                        <p>[[${actividad.nombre}]]</p>
                        <p>ARS$[[${actividad.precio}]]</p>
                        <a th:href="@{/carrito/borrar-actividad/} + ${actividad.idActividad}" class="btn__actividades">
                            <i class="fas fa-times"></i> Quitar del carrito
                        </a>
                    </div>
                </div>
            </section>
            
            <section th:if="${#lists.isEmpty(lugaresCarrito) and #lists.isEmpty(actividadesCarrito)}">
                <p>Carrito vacío</p>
            </section>

            <section>
                <p>[[${mensaje}]]</p>
                <p th:if="${not #lists.isEmpty(lugaresCarrito) or not #lists.isEmpty(actividadesCarrito)}">
                    Precio total: ARS$[[${total}]]
                </p>
                <a th:href="@{/carrito/facturar}" class="btn__comprar btn__carrito"
                   th:if="${not #lists.isEmpty(lugaresCarrito) or not #lists.isEmpty(actividadesCarrito)}">
                    Comprar
                </a>
                <a th:href="@{/}" class="btn__actividades btn__carrito">Volver al inicio</a>
            </section>

        </main>

        <!--SCRIPTS-->
        <script src="https://kit.fontawesome.com/94d22320fc.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/script/myscript.js"></script>
    </body>
</html>
