<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login | Turismo Argentina</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
        <link rel="stylesheet" type="text/css" href="/estilos/sesion.css">
        <link rel="icon" type="/image/ico" href="/icons/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Marcellus&display=swap" rel="stylesheet">
    </head>
    <body id="contenido__cuerpo">
        <main>
            <h1>Inicio de sesión</h1>
            <div>
                <form th:action="@{/login}" method="POST" id="formulario__sesion">
                    <div>
                        <label for="username"><i class="fas fa-user"></i> Nombre de usuario:*</label>
                        <input type="text" name="username" id="username" required>
                        <label for="password" id="password"><i class="fas fa-key"></i> Contraseña:*</label>
                        <input type="password" name="password" required>
                        <input type="submit" value="Iniciar sesión">
                        <p>¿No tenés una cuenta?</p><a th:href="@{/registrarse}" id="link__registrarse">Registrarse</a>
                    </div>
                </form>
            </div>
        </main>

        <script src="https://kit.fontawesome.com/94d22320fc.js" crossorigin="anonymous"></script>
    </body>
</html>
