* {
    box-sizing: border-box;
    margin: 0;
}

main {
    flex-shrink: 0;
}

svg {
    display: flex;
}

body {
    color: #3da9fc;
    font-family: 'Marcellus', serif;
    font-size: 1.25rem;
    background: white;
}

/*MENU NAVEGACION*/
.header {
    background: #3da9fc;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.nav {
    display: flex;
    justify-content: space-between;
    /*Para que en pantallas muy grandes no se aleje mucho el logo del contenido:*/
    max-width: 1024px;
    margin: 0 auto;
}

.logo {
    margin: auto 0;
}

.logo img {
    width: 65px;
    height: 65px;
}

.nav__menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav__menu__item {
    margin: 0 10px;
    line-height: 80px;
    width: max-content; /*Para que no corte el contenido*/
}

.nav__menu__link {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 25px;
    transition: .5s;
}

.nav__menu__link:hover {
    background: lightblue;
    transition: .5s;
}

.nav__toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header {
        height: 60px;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }

    .nav__menu {
        flex-direction: column; /*Para que los links se vean de forma vertical*/
        background: #90b4ce;
        position: fixed;
        left: 0;
        top: 60px; /*Igual que el alto del navbar*/
        width: 100%;
        align-items: center;
        padding: 20px 0; /*Al detectar una lista, el navegador incluye un padding por defecto a la izquierda, con el 0 se lo quito*/
        /*Si la pantalla es muy pequeña y hay muchos links en el menú, algunos pueden cortarse y no se veran*/
        height: calc(100%-60px);
        overflow-y: auto;

        left: 100%; /*Mando el menú a la derecha cuando no es visible*/
        transition: left .3s;
    }

    .nav__toggle {
        display: block;
    }

    .nav__menu__visible {
        left: 0;
    }
}

h1 {
    text-align: center;
    margin-top: 105px;
    margin-bottom: 20px;
}

.gridbox {
    display: grid;
    grid-template-columns: repeat(1, 9fr);
    text-align: center;
}

.gridbox div {
    margin: 0 auto;
    margin-bottom: 20px;
}

.gridbox div img {
    transition: .3s;
    cursor: pointer;
    border-radius: 25px;
    max-width: 90%;
}

.gridbox div img:hover {
    transform: scale(1.05);
}

@media (min-width: 992px) {
    .gridbox {
        grid-template-columns: repeat(2, 5fr);
    }
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexbox img {
    margin-bottom: 10px;
}

.flexbox p {
    margin-bottom: 10px;
}

.btn__actividades {
    display: block;
    width: 50%;
    border: 2px solid #3da9fc;
    border-radius: 25px;
    color: #3da9fc;
    font-size: 1rem;
    text-decoration: none;
    background: white;
    padding: 5px;
    margin-top: auto;
    transition: .3s;
}

.btn__actividades:hover {
    color: white;
    background: #3da9fc;
    transition: .3s;
}

/*  ---  FOOTER  ---  */
footer {
    background: #3da9fc;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logout {
    color: #3da9fc;
    background: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 25px;
    transition: .5s;
}

.footer__logout:hover {
    background: lightgray;
    transition: .5s;
}