<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Agregar lugar | Turismo Argentina</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
        <link rel="stylesheet" type="text/css" href="/estilos/sesion.css">
        <link rel="icon" type="/image/ico" href="/icons/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Marcellus&display=swap" rel="stylesheet">
    </head>
    <body id="cuerpo__formulario__lugar" class="cuerpo__formulario">
        <h1>Agregar lugar</h1>
        <div>
            <form th:action="@{/panel/insertar-lugar}" method="POST" id="formulario__sesion" enctype="multipart/form-data"
                  th:object="${lugar}">
                <div>
                    <input type="hidden" name="idLugar" th:field="*{idLugar}"/>
                    
                    <label for="nombre"><i class="fa-solid fa-map-marked-alt"></i> Nombre:</label>
                    <input type="text" name="nombre" id="nombre" th:field="*{nombre}">
                    <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
                    <br th:if="${#fields.hasErrors('nombre')}"/>

                    <label for="descripcion"><i class="fa-solid fa-align-justify"></i> Descripción:</label>
                    <br>
                    <textarea name="descripcion" cols="30" rows="10" maxlength="600" placeholder="Máximo 600 caracteres."
                              id="descripcion"></textarea>
                    <p th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></p>
                    <br>

                    <label for="imagenPortada"><i class="fa-solid fa-image"></i> Imagen de portada:</label>
                    <input type="file" name="imagenPortada" required accept="image/jpeg" id="portada">

                    <label for="imagenFoto1"><i class="fa-solid fa-image"></i> Imagen n1:</label>
                    <input type="file" name="imagenFoto1" required accept="image/jpeg" id="foto1">

                    <label for="imagenFoto2"><i class="fa-solid fa-image"></i> Imagen n2:</label>
                    <input type="file" name="imagenFoto2" required accept="image/jpeg" id="foto2">

                    <label for="imagenFoto3"><i class="fa-solid fa-image"></i> Imagen n3:</label>
                    <input type="file" name="imagenFoto3" required accept="image/jpeg" id="foto3">

                    <label for="precio"><i class="fa-solid fa-dollar-sign"></i> Precio:</label>
                    <input type="number" name="precio" id="precio" th:field="*{precio}">
                    <p th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></p>

                    <p class="nota__formulario">Nota: Las imagenes deben tener unas dimensiones de 550x310px.</p>
                    <p>[[${mensajeErrorLugar}]]</p>

                    <input type="submit" value="Agregar lugar">
                </div>
            </form>
        </div>

        <!--SCRIPTS-->
        <script src="https://kit.fontawesome.com/94d22320fc.js" crossorigin="anonymous"></script>
    </body>
</html>