<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editar actividad | Turismo Argentina</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
        <link rel="stylesheet" type="text/css" href="/estilos/sesion.css">
        <link rel="icon" type="/image/ico" href="/icons/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Marcellus&display=swap" rel="stylesheet">
    </head>
    <body id="cuerpo__formulario__actividad" class="cuerpo__formulario">
        <h1>Editar Actividad</h1>
        <div>
            <form th:action="@{/panel/modificar-actividad/} + ${actividad.idActividad}" method="POST" id="formulario__sesion" enctype="multipart/form-data">
                <div>
                    <label for="nombre"><i class="fas fa-map-marked-alt"></i> Nombre:</label>
                    <input type="text" name="nombre" required th:value="${actividad.nombre}" id="nombre">

                    <label for="portada"><i class="fas fa-image"></i> Imagen:</label>
                    <input type="file" name="fotoImagen" required accept="image/jpeg" id="portada">

                    <label for="precio"><i class="fas fa-dollar-sign"></i> Precio:</label>
                    <input type="number" name="precio" required th:value="${actividad.precio}" id="precio">

                    <p class="nota__formulario">Nota: Las imagenes deben tener unas dimensiones de 550x310px.</p>

                    <input type="submit" value="Editar actividad">
                </div>
            </form>
        </div>

        <!--SCRIPTS-->
        <script src="https://kit.fontawesome.com/94d22320fc.js" crossorigin="anonymous"></script>
    </body>
</html>
