<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Mostrar comentario | Turismo Argentina</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
        <link rel="stylesheet" type="text/css" href="/estilos/sesion.css">
        <link rel="icon" type="/image/ico" href="/icons/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Marcellus&display=swap" rel="stylesheet">
    </head>
    <body id="cuerpo__formulario__actividad" class="cuerpo__formulario">
        <h1>Comentarios Turismo Argentina</h1>
        <br>
        <div class="caja__actividad">
            <p>Id del comentario: [[${contacto.idContacto}]]</p>
            <br>
            <p>Nombre el emisor: [[${contacto.nombre}]]</p>
            <br>
            <p>Comentario: [[${contacto.comentario}]]</p>
        </div>
    </body>
</html>
