<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="nav">
                <a th:href="@{/}" class="logo"><img src="/icons/logoBlanco.svg" alt="Logo del sitio"/></a>
                <button class="nav__toggle" aria-label="Abrir menú">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="nav__menu">
                    <li class="nav__menu__item">
                        <a href="#" class="nav__menu__link"><i class="fa-solid fa-home"></i> Inicio</a>
                    </li>
                    <li class="nav__menu__item">
                        <a href="#turismo" class="nav__menu__link"><i class="fa-solid fa-suitcase-rolling"></i> Turismo</a>
                    </li>
                    <li class="nav__menu__item">
                        <a href="#actividades" class="nav__menu__link"><i class="fa-solid fa-snowboarding"></i> Actividades</a>
                    </li>
                    <li class="nav__menu__item">
                        <a href="#contacto" class="nav__menu__link"><i class="fa-solid fa-comments"></i> Contacto</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav__menu__item">
                        <a th:href="@{/panel/}" class="nav__menu__link"><i class="fa-solid fa-gear"></i> Panel</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_USER')" class="nav__menu__item">
                        <a th:href="@{/carrito/}" class="nav__menu__link"><i class="fa-solid fa-shopping-cart"></i> Carrito</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_USER')" class="nav__menu__item">
                        <a th:href="@{/cuenta/}" class="nav__menu__link"><i class="fa-solid fa-user"></i> Cuenta</a>
                    </li>
                </ul>
            </nav>
        </header>

        <svg th:fragment="pre-footer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="background: #3da9fc;">
        <path fill="#FFF" fill-opacity="1" d="M0,288L48,293.3C96,299,192,309,288,298.7C384,288,480,256,576,256C672,256,768,288,864,298.7C960,309,1056,299,1152,293.3C1248,288,1344,288,1392,288L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
        </svg>
        <footer th:fragment="footer">
            <div>
                <a th:href="@{/}" class="logo"><img src="/icons/logoAzul.svg" alt="Logo del sitio"/></a>
                <p>&copy; Turismo Argentina</p>
            </div>

            <form method="POST" th:action="@{/logout}">
                <a href="#" onclick="this.parentNode.submit();" class="footer__logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
                </a>
            </form>
        </footer>

    </body>
</html>